:root {
  /* color-scheme */
  --HF-Background: #ffffe1;
  --Main-Background: #e6f3fe;
  --M-Text: #5c1e51;
  --HF-Text: #5c341e;
  /* font-family */
  --HF-heading: "Bungee Spice", Arial, Helvetica, sans-serif;
  --HF-paragraph: "Rozha One", "Segoe UI", Tahoma;
  --M-heading: "Saira Stencil One", Geneva, Verdana, sans-serif;
  --M-paragraph: "Alan Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode";
}
* {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  background-color: var(--HF-Background);
}
.header h1 {
  font-family: var(--HF-heading);
  color: var(--HF-Text);
}
.header img {
  width: 100px;
  height: auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: var(--HF-Text);
  font-family: var(--HF-paragraph);
}

.navigation a:hover {
  color: var(--Main-Background);
  background-color: var(--M-Text);
  padding: 20px;
}

/* ===== INDEXCONTENT ====== */
main {
  background-color: var(--Main-Background);
  color: var(--M-Text);
}
#mobile {
  display: none;
}
.introduction-content {
  display: flex;
}
.introduction-content img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
h2,
h3 {
  text-align: center;
  font-family: var(--M-heading);
}
h2 {
  font-family: var(--M-heading);
}
section {
  padding-top: 10px;
}
.about-me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 2fr;
}
.about-me h2 {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.brand {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.brand ul {
  list-style: square;
  margin: 2px;
  padding: 10px;
}

/* ==== FOOTER ===== */
footer {
  background-color: var(--HF-Background);
  color: var(--HF-Text);
  font-family: var(--HF-paragraph);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media img {
  width: 40px;
  height: auto;
}

/* ====== CONTACT PAGE =====  */

.title {
  text-align: left;
}
.contact-info img {
  width: 20px;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.send-message fieldset {
  font-family: var(--M-heading);
  margin: 2rem 0;
  border-radius: 6px;
  padding: 0.5rem 2%;
  border: 1px solid black;
}
.send-message label {
  display: block;
  padding-top: 20px;
  font-size: 16px;
}
.send-message input[type="text"],
.send-message input[type="email"],
.send-message select,
.send-message textarea {
  width: 100%;
  max-width: 400px;
  display: block;
  border-radius: 5px;
  padding: 10px;
  font-family: var(--M-paragraph);
  font-size: 16px;
  margin: 0;
}

.send-message input[type="submit"] {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--M-heading);
  background-color: var(--HF-Text);
  color: var(--HF-Background);
  font-size: 16px;
  cursor: pointer;
}

.send-message input:required {
  border-right: 10px solid red;
}
.send-message input:required:valid {
  border-right: 10px solid green;
}

/* ===== PROJECT PAGE ====== */

.project {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.project h3 {
  grid-column: 1 / span 2;
  padding-top: 20px;
}
.project img {
  width: 100%;
  justify-content: center;
  padding: 0;
  border-radius: 6px;
}

.project a {
  padding: 10px;
  border-radius: 5px;
  font-family: var(--M-heading);
  background-color: var(--HF-Text);
  color: var(--HF-Background);
  font-size: 16px;
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
}
.project a:hover {
  color: var(--Main-Background);
  background-color: var(--M-Text);
}

@media (max-width: 740px) {
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .navigation {
    display: none;
  }
  .introduction-content img {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  #mobile {
    display: block;
    border-radius: 50%;
    width: 200px;
    margin: 0 25%;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  .project {
    display: block;
    position: relative;
  }
  .project h3 {
    text-align: left;
  }
  .project img {
    width: 200px;
    position: absolute;
    right: 10px;
    top: 60px;
    overflow: auto;
  }
}
