/* a global scope for CSS variables */
:root {
  --primary-color: #70236a;
  --secondary-color: #fefbfb;
  --heading-font: "Pirata One", Arial, Helvetica, sans-serif;
  --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

/*  → targets all elements.
margin: 0; padding: 0; → remove default browser spacing.
box-sizing: border-box; → keeps padding and borders inside the set width/height. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mobile view */
/* header */
header {
  background-color: var(--primary-color);
  display: grid;
  grid-gap: 1rem;
  padding: 15px;
}
/* Centers main and header horizontally. */
main,
header {
  margin: 0 auto;
}
.header-name {
  font-family: var(--heading-font);
  font-size: 2rem; /* relative size (2 × base font). */
  color: var(--secondary-color);
}
.navigation {
  display: flex; /* flexbox for nav links. */
  flex-direction: column; /* stack links vertically. */
  justify-content: space-evenly; /* equal spacing between links. */
  background-color: var(--secondary-color);
}
.navigation a {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  font-family: var(--body-font);
  font-size: larger;
  display: none; /*Hidden by default */
  padding: 1rem;
}
.navigation a:hover {
  text-decoration: underline double;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#menu::before {
  content: "☰"; /* Adds ☰ before the button content (hamburger symbol). */
}

#menu.open::before {
  content: "❌"; /* When the button has .open, shows ❌ (close symbol). */
}
#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.open a {
  display: block; /* When .open is added to .navigation, links become visible. */
}

/* main tag */

.title-name {
  text-align: center;
  font-family: var(--heading-font);
  padding: 7px;
  font-size: 2rem;
  margin-top: 1rem;
}
.temple-image {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /*auto-fit, minmax(200px, 1fr) → each image is at least 200px, then expands. */
  grid-gap: 25px;
  font-family: var(--body-font);
}
.temple-card {
  max-width: 300px;
  height: 350px;
  background-color: var(--accent3-color-Platinum);
  border: 1px solid #778da9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0d1b2ac2;
  margin-bottom: 30px;
}

.temple-card img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.temple-card {
  margin-top: 10px;
}

.temple-card h2 {
  font-size: 16px;
  text-align: center;
}

.temple-card p {
  font-size: 10px;
  padding: 5px;
  text-align: center;
}

/* footer */
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  align-items: center;
  padding: 10px;
}
footer p {
  text-align: center;
  font-family: var(--heading-font);
}
